<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Lesson 019</title>
    <style>
        body {
          padding: 2em;
        }
        table {
            border-collapse: collapse;
        }
        table, th, td {
            padding: 15px;
            text-align: left;
            border: 1px solid black;
        }
    </style>
</head>
<body>
<h1>Lesson 019 - List of Item</h1>
<table>
    <thead>
        <tr>
            <th>NAME</th>
            <th>PRICE</th>
        </tr>
    </thead>
    <tbody th:unless="${items == null}" th:each="item : ${items}">
        <tr>
            <td><a href="/item/1" th:href="@{/item/{itemId}(itemId=${item.id})}" th:text="${item.name}" target="_blank">除濕機</a></td>
            <td th:text="${item.price}">2000.0</td>
        </tr>
    </tbody>
</table>
</body>
</html>