<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Lesson 008 | Create Item</title>
    <style>
        body {
          padding: 2em;
        }
        div {
          padding-bottom: 0.5em;
        }
    </style>
</head>
<body>
<h1>Lesson 008 - View Item Detail</h1>
<div th:text="'商品序號：' + ${item.id}"></div>
<div th:text="'商品名稱：' + ${item.name}"></div>
<div th:text="'商品價格：' + ${item.price}"></div>
</body>
</html>