<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <title>Lesson 006</title>
    <style>
        body {
          padding: 2em;
        }
    </style>
</head>
<body>
<h1>Lesson 006</h1>
<div>Hello <span sec:authentication="name">Tom</span></div>
<a th:href="@{item}">Create New Item</a><br>
Or<br>
<a th:href="@{logout}">Logout</a><br>
</body>
</html>