<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Lesson 007</title>
    <style>body{padding: 2em;}</style>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<h1>Lesson 007</h1>
<a th:href="@{item}">Create New Item</a>
</body>
</html>