<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Lesson 005</title>
    <style>
        body {
          padding: 2em;
        }
    </style>
</head>
<body>
<h1>Lesson 005</h1>
<div>my-number: <span th:text="${myNumber}"></span></div>
<div>my-text: <span th:text="${myText}"></span></div>
<hr>
<div>Properties my-number: <span th:text="${properties.myNumber}"></span></div>
<div>Properties my-text: <span th:text="${properties.myText}"></span></div>
</body>
</html>