<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Lesson 017</title>
    <style>
        body {
          padding: 2em;
        }
        div {
          padding-bottom: 0.5em;
        }
    </style>
</head>
<body>
<h1>Lesson 017</h1>
<div th:unless="${session == null}">
    <h3 th:unless="${session.foo == null}" th:text="'session foo value: ' + ${session.foo}"></h3>
    <form action="/" method="post">
        <div>
            變更 Session 的值：<input type="text" name="fooValue" maxlength="20" required>
        </div>
        <input type="submit" value="變更">
    </form>
</div>
</body>
</html>