<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Lesson 010</title>
    <style>
        body {
          padding: 2em;
        }
    </style>
</head>
<body>
<h1>Lesson 010</h1>
<a th:href="@{item}">Create New Item</a>
</body>
</html>